.container {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding: 20px 20px;
  align-items: center;
}

.menu {
  display: flex;
  gap: 10px;
}
.menu-item {
  list-style: none;
}
